<%= back_button if back_button? %>

<div class="table table-auto w-full card-container drop-shadow-md mt-4">
  <div class="table-header-group">
    <%= top_header if top_header? %>
  </div>
  <div class="table-header-group">
    <div class="table-row bg-gray-50 text-gray-800 text-sm">
      <div class="table-cell border-t border-gray-300 p-4 pl-8">Contract Owner</div>
      <div class="table-cell border-t border-gray-300 p-4 pl-8 <%= hidden_if(supplier_name) %>">Supplier</div>
      <div class="table-cell border-t border-gray-300 p-4 pl-8">Contract Name</div>
      <div class="table-cell border-t border-gray-300 p-4 pl-8">Start Date</div>
      <div class="table-cell border-t border-gray-300 p-4 pl-8">End Date</div>
      <div class="table-cell border-t border-gray-300 p-4 pl-8">Contract Value</div>
    </div>
  </div>
  <div class="table-row-group">
    <%= render ContractRowComponent.with_collection(contracts, supplier_name:) %>
  </div>
</div>