<% if invalid_records_alert %>
  <% invalid_records_alert.map do |record| %>
    <div class="alert">
      <p>Contract with external_contract_id: <%= record.external_contract_id %> hasn't been created/updated due to errors:</p>
      <ul>
        <% record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% else %>
  <p class="alert"><%= alert %></p>
<% end %>