<% if notice %>
    <p class="notice flex justify-between" data-controller="flash-component">
      <span><%= notice %></span>
      <span class="cursor-pointer" data-action="click->flash-component#closeFlash">X</span>
    </p>
<% end %>
<% if alert %>
  <% if alert[:invalid_records] %>
    <% alert[:invalid_records].map do |record| %>
      <div class="alert flex justify-between" data-controller="flash-component">
        <div>
          <p>Contract with external_contract_id: <%= record.external_contract_id %> hasn't been created/updated due to errors:</p>
          <ul>
            <% record.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <div class="cursor-pointer" data-action="click->flash-component#closeFlash">X</div>
      </div>
    <% end %>
  <% else %>
    <p class="alert flex justify-between" data-controller="flash-component">
      <span><%= alert %></span>
      <span class="cursor-pointer" data-action="click->flash-component#closeFlash">X</span>
    </p>
  <% end %>
<% end %>