<!-- This example requires Tailwind CSS v2.0+ -->
<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true" data-controller="import-modal-component" data-import-modal-component-target="container">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <h1 class="text-gray-800 text-lg sm:py-4 sm:pl-8 bg-purple-50 w-full border-b">Import Contracts</h1>
      <div class="sm:py-9 sm:px-10 border-b bg-white flex flex-col justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="3 3 17 18" fill="currentColor" class="w-9 h-12 text-gray-500">
          <path fill-rule="evenodd" d="M5.625 1.5H9a3.75 3.75 0 013.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 013.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 01-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875zm6.905 9.97a.75.75 0 00-1.06 0l-3 3a.75.75 0 101.06 1.06l1.72-1.72V18a.75.75 0 001.5 0v-4.19l1.72 1.72a.75.75 0 101.06-1.06l-3-3z" clip-rule="evenodd" />
          <path d="M14.25 5.25a5.23 5.23 0 00-1.279-3.434 9.768 9.768 0 016.963 6.963A5.23 5.23 0 0016.5 7.5h-1.875a.375.375 0 01-.375-.375V5.25z" />
        </svg>

        <p class="text-gray-800 text-md mt-3">Upload a CSV here to Import Contracts</p>
        <%= link_to "Click here to select a file upload", "#", class: "link-text mt-3" %>
      </div>
      <div class="sm:py-4 sm:px-8 bg-purple-50 w-full flex justify-between">
        <%= link_to "Cancel", "#", class: "leading-6 inline-flex items-center px-3 py-1.5 border box-border border-gray-300 bg-white rounded-md button-shadow text-gray-800 focus-ring cursor-pointer justify-center",
        data: { turbo: false, action: "click->import-modal-component#close" } %>
        <%= link_to "Import Contracts", "#", class: "button-primary" %>
      </div>
    </div>
  </div>